DEBUG=1
SECRET_KEY=SECRET_KEY=django-insecure--bwk&(8n#--s6zbxabyu+o)s2g7p+0@rps-=j=asjf=k$ie$fz

DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_NAME=wb
POSTGRES_USER=wb
POSTGRES_PASSWORD=wb
POSTGRES_HOST=db
POSTGRES_PORT=5432